<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CVDDraft1">

        <!-- Launcher Activity (Main entry point) -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity (internal activity) -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Registration Activity (internal activity) -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />

        <!-- Main Activity (internal activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Script Activity (internal activity, where the user enters answers) -->
        <activity
            android:name=".ScriptActivity"
            android:exported="false" />

        <!-- Script Display Activity (internal activity, where generated script is shown) -->
        <activity
            android:name=".ScriptDisplayActivity"
            android:exported="false" />

    </application>

</manifest>
